<div class="container">

  <div class='message-space'>

    <section class='greeting message'>
      <h2>Hello, human.</h2>
      <h3>What pitiful offering have you brought to place before the guardians
        of the green glass door?</h2>
    </section>

    <% if session[:accepted] %>
      <section class='accept-notice message'>
        <p>Well done!  Your offering has pleased the guardians of the green glass door.</p>
        <p>You may enter.</p>
      </section>
    <% elsif session[:accepted] == false %>
      <section class='reject-notice message'>
        <p>Your pathetic offering has been rejected.</p>
        <p>It can't come in, and neither can you!</p>
      </section>
    <% else %>
    <% end %>

  </div>

  <form action='/offering' method='get' class='offer-form'>
    <input type='text' name='offering' class='sweet-form' autofocus>
    <input type='submit' value='Make an offering' class='sweet-button'>
  </form>

</div>


